<mat-card-footer class="footer">
  <br/>
  <div>© 2021 Copyright: IotAggregator</div>
  <div>Made with <i class="fas fa-heart" style="color: red"></i> by:
    <span *ngFor="let contributor of contributors; let i = index">
      <a href="https://github.com/{{contributor}}" target="_blank">
        <i class="fab fa-github"></i> {{contributor}}
      </a>
      {{i == contributors.length - 1 ? '' : (i == contributors.length - 2 ? ' and' : ', ')}}
    </span>
  </div>
</mat-card-footer>
