<div *ngFor="let rpi of raspberries"
     style="
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     border: 1px solid gray;
     border-radius: 1em;
     padding: 1rem;
     margin: 1rem">
  <div style="display: flex; flex-direction: column">
    <h2>Raspberry: {{rpi.name}}</h2>
    <h3>Tube: {{rpi.tube}}</h3>
    <h4 style="color: dimgray">Id: {{rpi.id}}</h4>
  </div>
  <div style="display: flex; flex-direction: column; justify-content: space-between; align-content: center">
    <button [routerLink]="['/configs/' + rpi.id]" color="primary" mat-raised-button><i class="fas fa-cogs fa-2x"></i>
    </button>
    <button (click)="editRpi(rpi)" mat-raised-button><i class="far fa-edit"></i></button>
    <button (click)="removeRpiDevice(rpi.id)" color="warn" mat-raised-button><i class="fas fa-trash-alt"></i></button>
  </div>
</div>
<button (click)="addRpiDevice()" mat-stroked-button style="margin: 1em; color: green"><i class="fas fa-plus"></i> Add
  RaspberryPi
</button>
