<app-nav-bar style="    position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
width: 100%;"></app-nav-bar>
<div style="margin: 5% 10% 0;">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>

