<mat-toolbar class="navbar" color="primary">
  <div><i class="fas fa-code"></i> IotAggregator</div>
  <div>
    <a [routerLink]="['/']"><span><i class="fas fa-home"></i> Home</span></a>
    <a [routerLink]="['/configs']"><span><i class="fas fa-user-cog"></i> Configs</span></a>
    <a [routerLink]="['/gallery']"><span><i class="far fa-images"></i> Gallery</span></a>
  </div>
</mat-toolbar>
