@import "src/styles";

.navbar {
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

span {
  height: 100%;
  padding: 10px 20px 10px 20px;
}

span:hover {
  background-color: $secondary;
}

a {
  color: $text-on-non-white;
  padding-right: 1rem;
}
