<div *ngIf="isNew"
     style="display: flex; flex-direction: row; justify-content: space-between; margin: 0 1em 1em 1em; align-items: center">
  <button (click)="createSensorForm(undefined)" mat-button>Add sensor</button>
  <button (click)="createControllerForm(undefined)" mat-button>Add controller</button>
</div>

<mat-dialog-content *ngIf="isController() || isSensor()" [formGroup]="form"
                    style="display: flex; flex-direction: column;">
  <mat-form-field floatLabel="always" id="pinName" style="margin: 0 1em">
    <mat-label>Rpi Pin</mat-label>
    <input formControlName="pinName" matInput  [pattern]="pattern">
    <mat-error *ngIf="isEmpty('pinName')">
      Pin name is required and must follow '{{pattern}}' pattern!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="standard" floatLabel="always" id="status" style="margin: 0 1em 1em 1em">
    <mat-slide-toggle color="primary"
                      formControlName="status">{{isPinActive() ? "Active" : "Inactive"}}</mat-slide-toggle>
    <textarea hidden matInput></textarea>
  </mat-form-field>

  <mat-form-field floatLabel="always" id="name" style="margin: 0 1em 1em 1em">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput/>
    <mat-error *ngIf="isEmpty('name')">
      Name is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" id="description" style="margin: 0 1em 1em 1em">
    <mat-label>Description</mat-label>
    <input formControlName="description" matInput/>
    <mat-error *ngIf="isEmpty('description')">
      Description is required!
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content *ngIf="isController()" [formGroup]="form" style="display: flex; flex-direction: column;">
  <mat-form-field floatLabel="always" id="controller-waitingTimeInSeconds" style="margin: 0 1em 1em 1em">
    <mat-label>Waiting time in seconds</mat-label>
    <input formControlName="waitingTimeInSeconds" matInput type="number">
    <mat-error *ngIf="isEmpty('waitingTimeInSeconds')">
      Waiting time is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" id="controller-actionTimeInSeconds" style="margin: 0 1em 1em 1em">
    <mat-label>Action time in seconds</mat-label>
    <input formControlName="actionTimeInSeconds" matInput type="number">
    <mat-error *ngIf="isEmpty('actionTimeInSeconds')">
      Action time is required!
    </mat-error>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-content *ngIf="isSensor()" [formGroup]="form" style="display: flex; flex-direction: column;">
  <mat-form-field floatLabel="always" id="sensor-measurementType" style="margin: 0 1em 1em 1em">
    <mat-label>Sensor measurement type</mat-label>
    <input formControlName="measurementType" matInput/>
    <mat-error *ngIf="isEmpty('measurementType')">
      Measurement type is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" id="sensor-sensorType" style="margin: 0 1em 1em 1em">
    <mat-label>Sensor type</mat-label>
    <mat-select formControlName="sensorType">
      <mat-option *ngFor="let type of sensorType" [value]="type">{{type}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field floatLabel="always" id="sensor-coefficientA" style="margin: 0 1em 1em 1em">
    <mat-label>A in Ax + B = y</mat-label>
    <input formControlName="coefficientA" matInput type="number">
    <mat-error *ngIf="isEmpty('coefficientA')">
      Coefficient A is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" id="sensor-coefficientB" style="margin: 0 1em 1em 1em">
    <mat-label>B in Ax + B = y</mat-label>
    <input formControlName="coefficientB" matInput type="number">
    <mat-error *ngIf="isEmpty('coefficientB')">
      Coefficient B is required!
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions
  style="display: flex; flex-direction: row; justify-content: space-between; margin: 0 1em; align-items: center">
  <button (click)="onOkClick()" class="uppercase" color="primary" id="ok" mat-raised-button [disabled]="anyGotError()">Ok</button>
  <button (click)="onCancelClick()" class="uppercase" color="primary" id="cancel" mat-raised-button>Cancel</button>
</mat-dialog-actions>
