<mat-dialog-content [formGroup]="form" style="display: flex; flex-direction: column;">
  <mat-form-field floatLabel="always" id="name" style="margin: 0 1em 1em 1em">
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput/>
    <mat-error *ngIf="isEmpty('name')">
      Name is required!
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always" id="tube" style="margin: 0 1em 1em 1em">
    <mat-label>Tube</mat-label>
    <input formControlName="tube" matInput type="number">
    <mat-error *ngIf="isEmpty('tube')">
      Tube number is required!
    </mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions
  style="display: flex; flex-direction: row; justify-content: space-between; margin: 0 1em; align-items: center">
  <button (click)="onOkClick()" class="uppercase" color="primary" id="ok" mat-raised-button [disabled]="anyGotError()">Ok</button>
  <button (click)="onCancelClick()" class="uppercase" color="primary" id="cancel" mat-raised-button>Cancel</button>
</mat-dialog-actions>
