<div *ngIf="isSensor" style="display: flex; flex-direction: row; justify-content: space-between">
  <span>Id: {{sensor.id}}</span>
  <span>Name: {{sensor.name}}</span>
  <span>Description: {{sensor.description}}</span>
  <span>Measurement type: {{sensor.measurementType}}</span>
  <span>Sensor type: {{sensor.sensorType}}</span>
  <span>{{sensor.coefficientA}}x + {{sensor.coefficientB}} = y</span>
</div>
<div *ngIf="isController" style="display: flex; flex-direction: column;">
  <span>Id: {{controller.id}}</span>
  <span>Name: {{controller.name}}</span>
  <span>Description: {{controller.description}}</span>
  <span>Waiting time in seconds: {{controller.waitingTimeInSeconds}}</span>
  <span>Action time in seconds: {{controller.actionTimeInSeconds}}</span>
</div>
