/* You can add global styles to this file, and also import other style files */
@use "~@angular/material" as mat;

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/theming.scss";

////////////////////////////////////////////////////////////
// To change any color in this project please touch only  //
//  those variables, you can add your own if you need     //
////////////////////////////////////////////////////////////

$primary: map-get(mat.$indigo-palette, 900);
$primaryA: map-get(mat.$indigo-palette, A100);
$secondary: map-get(mat.$indigo-palette, A700);
$background: white;
$text-color: black;
$text-on-non-white: white;

////////////////////////////////////////////////////////////
//                      Thank you!                        //
////////////////////////////////////////////////////////////

html,
body {
  height: 100%;
  background-color: $background;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: $text-color
}

a {
  text-decoration: none;
}

