<mat-expansion-panel style="margin-bottom: 2em">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Controllers
    </mat-panel-title>
    <mat-panel-description>
      You have {{controllers.length}} controller{{controllers.length > 1 ? 's' : ''}} connected
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="mat-elevation-z8">
    <table [dataSource]="controllersDataSource" mat-table multiTemplateDataRows style="width: 100%">
      <!-- Pin name Column -->
      <ng-container matColumnDef="pin">
        <th *matHeaderCellDef mat-header-cell> Pin</th>
        <td *matCellDef="let data" mat-cell> {{data.device.pinName}} </td>
      </ng-container>

      <!-- Pin status Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell> Status</th>
        <td *matCellDef="let data" mat-cell> {{data.device.status}} </td>
      </ng-container>

      <!-- Controller name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Sensor</th>
        <td *matCellDef="let data" mat-cell> {{data.device.name}} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th *matHeaderCellDef mat-header-cell> Edit</th>
        <td *matCellDef="let data" mat-cell>
          <button (click)="editDevice(data.device)" color="primary" mat-raised-button><i class="fas fa-cog"></i>
          </button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th *matHeaderCellDef mat-header-cell> Delete</th>
        <td *matCellDef="let data" mat-cell>
          <button (click)="removeController(data.device)" color="warn" mat-raised-button><i
            class="fas fa-trash-alt"></i>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td *matCellDef="let data" [attr.colspan]="5" mat-cell>
          <div [@detailExpand]="data.expanded ? 'expanded' : 'collapsed'" class="element-detail">
            <table style="width: 20%">
              <tr>
                <td>Action time:</td>
                <td>{{data.device.actionTimeInSeconds}}s</td>
              </tr>
              <tr>
                <td>Waiting time:</td>
                <td>{{data.device.waitingTimeInSeconds}}s</td>
              </tr>
            </table>
            <h3>Description: </h3>
            <div>{{data.device.description}} </div>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="devicesDefaultColumns" mat-header-row></tr>
      <tr (click)="data.expanded = !data.expanded;" *matRowDef="let data; columns: devicesDefaultColumns;"
          [class.example-expanded-row]="data.expanded"
          class="element-row"
          mat-row>
      </tr>
      <tr *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>
    </table>
    <mat-paginator #controllerPaginator [pageSizeOptions]="[2, 5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</mat-expansion-panel>

<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Sensors
    </mat-panel-title>
    <mat-panel-description>
      You have {{sensors.length}} sensor{{sensors.length > 1 ? 's' : ''}} connected
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="mat-elevation-z8">
    <table [dataSource]="sensorsDataSource" mat-table multiTemplateDataRows style="width: 100%">
      <!-- Pin name Column -->
      <ng-container matColumnDef="pin">
        <th *matHeaderCellDef mat-header-cell> Pin</th>
        <td *matCellDef="let data" mat-cell> {{data.device.pinName}} </td>
      </ng-container>

      <!-- Pin status Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef mat-header-cell> Status</th>
        <td *matCellDef="let data" mat-cell> {{data.device.status}} </td>
      </ng-container>

      <!-- Sensor name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Sensor</th>
        <td *matCellDef="let data" mat-cell> {{data.device.name}} </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th *matHeaderCellDef mat-header-cell> Edit</th>
        <td *matCellDef="let data" mat-cell>
          <button (click)="editDevice(data.device)" color="primary" mat-raised-button><i class="fas fa-cog"></i>
          </button>
        </td>
      </ng-container>

      <!-- Delete Column -->
      <ng-container matColumnDef="delete">
        <th *matHeaderCellDef mat-header-cell> Delete</th>
        <td *matCellDef="let data" mat-cell>
          <button (click)="removeSensor(data.device)" color="warn" mat-raised-button><i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td *matCellDef="let data" [attr.colspan]="5" mat-cell>
          <div [@detailExpand]="data.expanded ? 'expanded' : 'collapsed'" class="element-detail">
            <table style="width: 20%">
              <tr>
                <td>Sensor type:</td>
                <td>{{data.device.sensorType}}</td>
              </tr>
              <tr>
                <td>Measurement type:</td>
                <td>{{data.device.measurementType}}</td>
              </tr>
              <tr>
                <td>Calibration:</td>
                <td>{{data.device.coefficientA}}x + {{data.device.coefficientB}} = y</td>
              </tr>
            </table>
            <h3>Description: </h3>
            <div>{{data.device.description}} </div>
          </div>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="devicesDefaultColumns" mat-header-row></tr>
      <tr (click)="data.expanded = !data.expanded;" *matRowDef="let data; columns: devicesDefaultColumns;"
          [class.example-expanded-row]="data.expanded"
          class="element-row"
          mat-row>
      </tr>
      <tr *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row" mat-row></tr>
    </table>
    <mat-paginator #sensorPaginator [pageSizeOptions]="[2, 5, 10]" showFirstLastButtons></mat-paginator>
  </div>
</mat-expansion-panel>

<div
  style="display: flex; flex-direction: row; justify-content: space-between; align-content: stretch; align-items: stretch;">
  <button (click)="addDevice()" mat-stroked-button style="margin: 1em; color: green">
    <i class="fas fa-plus"></i> Add device
  </button>
  <button [routerLink]="['/configs']" mat-stroked-button style="margin: 1em; color: gray">Cancel</button>
</div>
