img {
  width: 100%;
}

.slide-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

.slide-modal-content {
  position: relative;
  margin: auto;
  padding: 5%;
  width: 60%;
}
