<span >Raspberry ID: </span>
<input [(ngModel)]="prefix.rpiId" matInput type="text" (ngModelChange)="onPrefixChange()">
<span>Photo year: </span>
<input [(ngModel)]="prefix.year" matInput type="number" (ngModelChange)="onPrefixChange()" [disabled]="isNullOrWhitespace(prefix.rpiId)">
<span>Photo month: </span>
<input [(ngModel)]="prefix.month" matInput type="number" (ngModelChange)="onPrefixChange()" [disabled]="isNullOrZero(prefix.year)">
<span>Photo day: </span>
<input [(ngModel)]="prefix.day" matInput type="number" (ngModelChange)="onPrefixChange()" [disabled]="isNullOrZero(prefix.month)">
<mat-slide-toggle [(ngModel)]="prefix.use" (ngModelChange)="onPrefixChange()">Use prefix</mat-slide-toggle>

<mat-grid-list cols="3" style="margin-top: 2em" *ngIf="loaded">
    <mat-grid-tile *ngFor="let photo of currentPageGallery.photos">
      <div class="mat-elevation-z2" style="display: flex; flex-direction: column; margin: 0 1em">
        <a (click)="chosePhoto(photo.source)" (mouseup)="openInNewTab(photo.source, $event)">
          <img [src]="photo.source" alt="{{photo.rpiId}} -> {{photo.date}}" height="auto" width="100%"/>
        </a>
        <span>{{photo.date.toISOString()}}</span>
        <span>{{photo.rpiId}}</span>
      </div>
    </mat-grid-tile>
</mat-grid-list>
<div *ngIf="loaded">
  <button (click)="goToPage(0)" color="primary" mat-raised-button style="color: white; margin: 0 1em"><i
    class="fas fa-fast-backward"></i> First page
  </button>
  <button (click)="goToPage(currentPage - 1)" [disabled]="isFirstPage" color="primary" mat-raised-button
          style="color: white; margin: 0 1em"><i class="fas fa-step-backward"></i> Previous page
  </button>
  {{currentPage + 1}}
  <button (click)="goToPage(currentPage + 1)" [disabled]="isLastPage" color="primary" mat-raised-button
          style="color: white; margin: 0 1em">Next page <i class="fas fa-step-forward"></i></button>

  <div [style]="'display: ' + (isSelectedOpen ? 'block' : 'none')" class="slide-modal" id="imgModal">
    <div (click)="closeModal()" class="slide-modal-content">
      <img alt="{{chosenUrl}}" src="{{chosenUrl}}">
    </div>
  </div>
</div>
